{% load i18n %}

<div class="Order-block" id="step3">
  <header class="Section-header Section-header_sm">
    <h2 class="Section-title">
      {% trans 'Step 3. Payment method' %}
    </h2>
  </header>

  <div class="form-group">
    {% for choice in form.payment_method_fk %}
      <div>
        <label class="toggle">
          <input class="radio_select" type="radio" name="{{ form.payment_method_fk.name }}" value="{{ choice.choice_label }}" checked/>
          <span class="toggle-box"></span>
          <span class="toggle-text">{{ choice.choice_label}}</span>
        </label>
      </div>
    {% endfor %}
  </div>
  <div class="Order-footer">
    <a class="btn btn_success Order-next" id="button_next" href="#step4">{% trans 'Next' %}</a>
  </div>
</div>
