{% extends '../base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
  {% trans 'Payment by account' %}
{% endblock %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans 'Payment' %}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main_page' %}">{% trans 'home' %}</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Payment' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="Section">
      <div class="wrap">
        <form class="form Payment" action="#" method="post">
          {% csrf_token %}
          <div class="Payment-card">
            <div class="form-group">
              <label class="form-label">
                {% trans 'Number of banking account' %}
              </label>
              {{ form.number_account }}
            </div>

            <div class="form-group">
              <a class="btn btn_success Payment-generate" href="#">
                {% trans 'Generate random account' %}
              </a>
            </div>
          </div>
          <div class="Payment-pay">
            <button class="btn btn_primary" type="submit" >
              {% trans 'Pay' %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
