{% load static %}
{% load i18n %}

<div class="Middle">
  <div class="wrap">
    <div class="Section-column">
      <div class="Section-columnSection Section-columnSection_mark">
        <div class="media media_advantage">
          <div class="media-image"><img src="{% static 'app_categories/img/icons/advantages/shipping.svg' %}" alt="shipping.svg"/>
          </div>
          <div class="media-content">
            <strong class="media-title">{% trans 'Shipping & Returns' %}
            </strong>
            <p class="media-text">{% trans 'World wide shipping' %}
            </p>
          </div>
        </div>
      </div>
      <div class="Section-columnSection Section-columnSection_mark">
        <div class="media media_advantage">
          <div class="media-image"><img src="{% static 'app_categories/img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg"/>
          </div>
          <div class="media-content">
            <strong class="media-title">{% trans 'Money Back' %}
            </strong>
            <p class="media-text">{% trans 'Guaranteed payments' %}
            </p>
          </div>
        </div>
      </div>
      <div class="Section-columnSection Section-columnSection_mark">
        <div class="media media_advantage">
          <div class="media-image"><img src="{% static 'app_categories/img/icons/advantages/support.svg' %}" alt="support.svg"/>
          </div>
          <div class="media-content">
            <strong class="media-title">{% trans 'Support Policy' %}
            </strong>
            <p class="media-text">{% trans 'Fast support team' %}
            </p>
          </div>
        </div>
      </div>
      <div class="Section-columnSection Section-columnSection_mark">
        <div class="media media_advantage">
          <div class="media-image"><img src="{% static 'app_categories/img/icons/advantages/quality.svg' %}" alt="quality.svg"/>
          </div>
          <div class="media-content">
            <strong class="media-title">{% trans 'Quality Guarantee' %}
            </strong>
            <p class="media-text">{% trans 'Best guaranteed items' %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="Section-content">
      <div class="Slider Slider_carousel">
        <header class="Section-header Section-header_close">
          <h2 class="Section-title">{% trans 'Limited edition' %}
          </h2>
          <div class="Section-control">
            <div class="Slider-navigate">
            </div>
          </div>
        </header>

        <div class="Slider-box Cards">
          {% for product in limit_edition %}
            <div class="Slider-item">
              <div class="Slider-content">
              <div class="Card" id="{{ product.slug }}">
                <a class="Card-picture" href="{% url 'product_detail' product.slug %}">
                  <img src="{{ product.main_image.url }}" alt="card.jpg"/>
                </a>
                <div class="Card-content">
                  <strong class="Card-title">
                    <a href="#">{{ product.name }}</a>
                  </strong>

                  <div class="Card-description">
                    <div class="Card-cost">
                      <span class="Card-price">{% trans '$' %}{{ product.price }}</span>
                    </div>
                    <div class="Card-category">
                      {{ product.category_fk.parent.name }} / {{ product.category_fk.name }}
                    </div>
                    {% include 'card_hover.html' %}
                  </div>
                </div>
              </div>
            </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


  <script src="{% static 'app_categories/plg/Slider/slick.min.js' %}"></script>
</div>