{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'common/img/favicon.ico' %}" rel="shortcut icon">
    <link rel="stylesheet" href="{% static 'common/css/fonts.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'common/css/basic.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'common/css/extra.css' %}" type="text/css">
</head>
<body>
    <header class="Header">
        {% include 'header.html' %}
    </header>


    {% block content %}{% endblock %}


    <footer class="Footer">
        {% include 'footer.html' %}
    </footer>


  <script src="{% static 'common/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'common/plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'common/plg/form/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'common/plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'common/js/scripts.js' %}"></script>
</body>
</html>