{% load static %}
{% load i18n %}

{% block footer %}
  <div class="wrap">
    <div class="row Footer-main">
      <div class="row-block">
        <a class="logo Footer-logo" href="{% url 'main_page' %}">
          <img class="logo-image" src="{% static 'common/img/logo_footer.png'%}" alt="logo_footer.png"/>
        </a>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid
          unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
        </p>
        <ul class="menu menu_img menu_smallImg Footer-menuSoc">
          <li class="menu-item">
            <a class="menu-link" href="#">
              <img src="{% static 'common/img/icons/socialFooter/fb.svg'%}" alt="fb.svg"/>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#">
              <img src="{% static 'common/img/icons/socialFooter/tw.svg'%}" alt="tw.svg"/>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#">
              <img src="{% static 'common/img/icons/socialFooter/in.svg'%}" alt="in.svg"/>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#">
              <img src="{% static 'common/img/icons/socialFooter/pt.svg' %}" alt="pt.svg"/>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#">
              <img src="{% static 'common/img/icons/socialFooter/mail.svg' %}" alt="mail.svg"/>
            </a>
          </li>
        </ul>
      </div>

      <div class="row-block">
        <strong class="Footer-title">{% trans 'Useful Links' %}
        </strong>
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" href="#">{% trans 'My cart' %}</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="#">{% trans 'Delivery' %}</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="#">{% trans 'Order info' %}</a>
          </li>
        </ul>
      </div>
      <div class="row-block">
        <strong class="Footer-title">{% trans 'My Account' %}
        </strong>
        <ul class="menu menu_vt Footer-menu">
          <li class="menu-item"><a class="menu-link" href="{% url 'account' %}">{% trans 'Account' %}</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="{% url 'profile' %}">{% trans 'Profile' %}</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="#">{% trans 'History order' %}</a>
          </li>
        </ul>
      </div>
      <div class="row-block">
        <strong class="Footer-title">{% trans 'Contacts' %}
        </strong>
        <p>
          {% trans 'Phone' %}: 8.800.200.600<br>
          Email: Support@ninzio.com<br>
          Skype: techno<br>
          {% trans 'Address' %}: New York, north<br>
          Avenue 26/7<br>
          0057
        </p>
      </div>
    </div>
  </div>

  <div class="Footer-copy">
    <div class="wrap">
      <div class="row row_space">
        <div class="row-block">© Copyright&#32;<a href="{% url 'main_page' %}">Megano Store.</a>&#32;All rights reserved.
        </div>
        <div class="row-block"><span>{% trans 'Accepted Payments' %}</span>
          <div class="Footer-payments">
            <div><img src="{% static 'common/img/payments/visa.png' %}" alt="visa.png"/>
            </div>
            <div><img src="{% static 'common/img/payments/mastercard.png' %}" alt="mastercard.png"/>
            </div>
            <div><img src="{% static 'common/img/payments/paypal.png' %}" alt="paypal.png"/>
            </div>
            <div><img src="{% static 'common/img/payments/american.png' %}" alt="american.png"/>
            </div>
            <div><img src="{% static 'common/img/payments/electron.png' %}" alt="electron.png"/>
            </div>
            <div><img src="{% static 'common/img/payments/maestro.png' %}" alt="maestro.png"/>
            </div>
            <div><img src="{% static 'common/img/payments/delta.png' %}" alt="delta.png"/>
            </div>
            <div><img src="{% static 'common/img/payments/e.png' %}" alt="e.png"/>
            </div>
            <div><img src="{% static 'common/img/payments/dk.png' %}" alt="dk.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}