{% load static %}
{% load i18n %}
{% load cache %}

{% block header %}
  <div class="ControlPanel">
    <div class="wrap">
      <div class="row ControlPanel-row">
        <div class="row-block">
          <div class="row ControlPanel-rowSplit">
            <div class="row-block hide_700"><span class="ControlPanel-title">{% trans 'Follow us' %}</span>
              <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'common/img/icons/socialHeader/fb.svg' %}" alt="fb.svg"/></a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'common/img/icons/socialHeader/tw.svg' %}" alt="tw.svg"/></a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'common/img/icons/socialHeader/in.svg' %}" alt="in.svg"/></a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'common/img/icons/socialHeader/pt.svg' %}" alt="pt.svg"/></a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'common/img/icons/socialHeader/mail.svg' %}" alt="mail.svg"/></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <nav class="row-block">
          <div class="row ControlPanel-rowSplit">
            <div class="row-block">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
                <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                  {% for language in languages %}
                    <li class="menu-item">
                      <a class="ControlPanel-title" href="/{{ language.code }}/{{ request.get_full_path|slice:'4:' }}"
                        {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                        {{ language.code }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
            </div>

            {% if request.user.is_authenticated %}
              <div class="row-block">
                <a class="ControlPanel-title" href="{% url 'account' %}">
                  {% trans 'Account' %}
                </a>
              </div>

              <div class="row-block">
                <a class="ControlPanel-title" href="{% url 'logout' %}">
                  {% trans 'Logout' %}
                </a>
              </div>
            {% else %}
              <div class="row-block">
                <a class="ControlPanel-title" href="{% url 'login' %}">
                  {% trans 'Login' %}
                </a>
              </div>
              <div class="row-block">
                <a class="ControlPanel-title" href="{% url 'register' %}">
                  {% trans 'Register' %}
                </a>
              </div>
            {% endif %}
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!--+div.menuModal#navigate
    //    +menu([
    //        ['Главная','index.html'],
    //        ['Портфолио','index.html'],
    //        ['Мои проекты','index.html'],
    //        ['Контакты','index.html']
    //    ], page === 'article'? 'Портфолио': 'Главная')._main

    block
    -->
  </div>
  <div class="wrap">
    <div class="row Header-rowMain">
      <div class="row-block Header-logo"><a class="logo" href="{% url 'main_page' %}"><img class="logo-image" src="{% static 'common/img/logo.png' %}" alt="logo.png"/></a>
      </div>
      <nav class="row-block row-block_right Header-menu">
        <div class="menuModal" id="navigate">
          <ul class="menu menu_main">
            <li class="menu-item"><a class="menu-link" href="{% url 'main_page' %}">{% trans 'Home' %}</a>
            </li>

            <li class="menu-item"><span class="menu-label menu-label_success">Hot</span>
              <a class="menu-link" href="{% url 'popular_product_list' %}"> {% trans 'Popular' %}</a>
            </li>

            <li class="menu-item"><a class="menu-link" href="{% url 'account' %}"> {% trans 'Account' %}</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row-block">
        <div class="CartBlock"><a class="CartBlock-block" href="{% url 'cart' %}">
          <img class="CartBlock-img" src="{% static 'common/img/icons/cart.svg' %}" alt="cart.svg"/>
          <span class="CartBlock-amount">{{ count_product_cart }}</span></a>
          <div class="CartBlock-block"><span class="CartBlock-price">{{ total_price_cart }}{% trans '$' %}</span>
          </div>
        </div>
      </div>
      <div class="row-block Header-trigger"><a class="menuTrigger" href="#navigate">
          <div class="menuTrigger-content">Показать навигацию
          </div><span></span><span></span><span></span></a>
      </div>
    </div>
  </div>

  <div class="Header-searchWrap">
    <div class="wrap">
      <div class="Header-categories">
        <div class="CategoriesButton">
          <div class="CategoriesButton-title">
            <div class="CategoriesButton-icon"><img src="{% static 'common/img/icons/allDep.svg' %}" alt="allDep.svg"/>
            </div><span class="CategoriesButton-text">{% trans 'Categories' %}</span>
            <div class="CategoriesButton-arrow">
            </div>
          </div>
          <div class="CategoriesButton-content">
            {% for category in navi_categories %}
              <div class="CategoriesButton-link">
                <a href="{% url 'subcategory_list' category.slug %}">
                  <div class="CategoriesButton-icon">
                    {% if category.icon %}
                      <img src="{{ category.icon.url }}" alt="{{ category.name | truncatechars:3 }}"/>
                    {% endif %}
                  </div>
                  <span class="CategoriesButton-text">{{ category.name }}</span>

                  {% with category.children.all as subcategories %}
                    {% if subcategories %}
                      <a class="CategoriesButton-arrow" href="#"></a>
                    {% endif %}

                    <div class="CategoriesButton-submenu">
                      {% for subcategory in subcategories %}
                        {% if subcategory.is_active %}
                          <a class="CategoriesButton-link" href="{% url 'product_list' category.slug subcategory.slug %}">
                            <div class="CategoriesButton-icon">
                              {% if subcategory.icon %}
                                <img src="{{ subcategory.icon.url}}" alt="{{ subcategory.name | truncatechars:3 }}"/>
                              {% endif %}
                            </div>
                            <span class="CategoriesButton-text">{{ subcategory.name }}</span>
                          </a>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endwith %}
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="Header-searchLink"><img src="{% static 'common/img/icons/search.svg' %}" alt="search.svg"/>
      </div>
      <div class="Header-search">
        <div class="search">
          <form class="form form_search" action="{% url 'search_list' %}" method="get">
            <input class="search-input" id="query" name="query" type="text" placeholder="{% trans 'What are you looking for ...' %}"/>
            <button class="search-button" type="submit">
              <img src="{% static 'common/img/icons/search.svg' %}" alt="search.svg"/>
              {% trans 'Search' %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'common/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
{#    <script src="{% static 'common/plg/form/jquery.form.js' %}"></script>#}
{#    <script src="{% static 'common/plg/form/jquery.maskedinput.min.js' %}"></script>#}
  <script src="{% static 'common/plg/range/ion.rangeSlider.min.js' %}"></script>
{% endblock %}