{% extends '../base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
  Главная страница
{% endblock %}

{% block content %}
  <div class="Middle">
    <div class="Section">
      {% include 'app_product/section.html' %}
    </div>

     <div class="Section Section_column Section_columnDesktop">
       {% include 'app_product/popular_product.html' %}
     </div>

    <div class="Section Section_column Section_columnRight">
      {% include 'app_product/limit_edition.html' %}
   </div>
  </div>
{% endblock %}

