{% extends '../base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
  <div style="margin-left: 50px">
    <br>
    TODO: <br>
      По БД <br>
      1. исправить тип цены на decimal <br>
      2. добавить вложенность категорий <br>
      3. Читать инфу о Q и F фильтры, Func - запрос через функцию <br>
      4. Создать реальные категории с характеристиками и сделать дамп <br>

      <br>
      По моделям <br>
      1. Исправить триггеры на сигналы с ОРМ<br>
      2. Добавить аннотацию ВЕЗДЕ причем см. _collection_abc<br>
      3. Сделать тесты на модели<br>


      <br>
      Админка<br>
      1. Добавить адекватные фильтры <br>
      2. Поиск <br>
      3. Сортировка <br>
      4. Доработать админку в целом<br>

      <br>
      Общие вопросы:<br>
      1. Не забыть изменить структуру (шаблоны, статики. медиа в корень, locale -> думать!) +<br>
      2. изменить виджет в формсет (писать кастомный)<br>

      <br>



  </div>
{% endblock %}
