{% extends '../base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
  <div style="margin-left: 50px">
    <br>
    TODO: <br>
      По БД <br>
      1. исправить тип цены на decimal +<br>
      2. добавить вложенность категорий +<br>
      3. Читать инфу о Q и F фильтры, Func - запрос через функцию +<br>
      4. Создать реальные категории с характеристиками и сделать дамп +<br>
      5. Исправить шаблон для каскадного отображения категорий <br>

      <br>
      По моделям <br>
      1. Исправить триггеры на сигналы с ОРМ<br>
        а. Сигнал на подкатегории
          (автодобавление характеристик из родителя,
          при добавлении к подкатегории нельзя удалить старые характеристики, можно добавить новые ИЛИ нельзя их исправлять)

      2. Добавить аннотацию ВЕЗДЕ причем см. _collection_abc<br>
      3. Сделать тесты на модели<br>
      4. Исправить автозаполнение продуктами. Либо команда через ОРМ, либо чистым SQL <br>


      <br>
      Админка<br>
      1. Добавить адекватные фильтры +- <br>
      2. Поиск <br>
      3. Сортировка <br>
      4. Доработать админку в целом<br>

      <strong>
        В товарах: Сделана фильтрация по категории и производителям. Поиск только по названию товаров.
        Для ускорения работы возможно добавить индексы по этим полям ???
      </strong>
        <br>

      <br>
      Общие вопросы:<br>
      1. Не забыть изменить структуру (шаблоны, статики. медиа в корень, locale -> думать!) +<br>
      2. изменить виджет в формсет (писать кастомный)<br>

      <br>



  </div>
{% endblock %}
