{% extends 'base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
  <div style="margin-left: 50px">
    <br>
    TODO: изменить header под наши нужды: <br>
    1. добавить изменение языка +<br>
    2. убрать лишние навигационные инструменты +<br>
    3.1. изменить триггер. При изменении категории товара должен меняться набор характеристик + <br>
    3.3. проверить валидацию да/нет +<br>
    3.4. добавить картинки к категориям в БД + <br>
    4. сделать категории по queryset + <br>
    5. добавить вложенность категорий ?? <br>
    6. исправить тип цены на decimal <br>
    <br>
    Дополнительные вопросы: <br>
    1. Структура static/templates/media как и куда? <br>
    2. При добавлении товара или новой категории с инлайн не создается автоматом category_id/product_id.
      Пришлось перегружать метод save_model и добавлять эти значения <br>
    3. Созданы триггеры для изменений характеристик в категориях и изменение продуктов (изменение категории и добавление продуктов)
      В товарах пришлось поменять последовательность сохранения объектов (инлайн -> товар) для адекватного сохранения характеристик
      Все это выглядит как костыли(
    4. Делать ли вложенность категории, в ТЗ это не явно указано. <br>
    5. Что делать с локализацией БД? <br>
    6. подумать, что делать с типом характеристики да/нет, может заменить на +/-? <br>
      Тогда не будет проблем с локализацией и со значением по дефолту. <br>

  </div>
{% endblock %}
